
main {
    background-color:#121212;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding:4px 8px;
    color:#b3b3b3;
    font-weight: 600;
    font-size:14px;
    margin: 72px 310px 0 325px;
    height: 712px;
}